@font-face {
	font-family: "Candara";
	src: url("../fonts/Candara.ttf") format("truetype");
}

body {
	background: #f4f3f3;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Candara", Arial, Helvetica;
	color: #600;
}

h1 {
	text-align: center;
}

h2 {

}

a {
	color: inherit;
}

a:hover {
	color: #300;
}

input {
	width: 95%;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
	border-width: 1px;
}

.invalid input {
	background: #f88;
}

#main {
	width: 750px;
	margin: 0 auto;
	padding: 5px 20px 20px 20px;
	background: #fff;
}

.titlebox {
	text-align: center;
	margin-top: 0;
	padding-top: 1px;
	color: #200;
}

.tablecontainer {
	text-align: center;
}

.maintable {
	text-align: center;
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.maincol {
	width: 25%;
}

.row {
	text-align: left;
}

.row th {
	padding-left: 4px;
	padding-right: 4px;
	background: #f4f3f3;
	border-left: 2px solid #f4f3f3;
	border-right: 2px solid #f4f3f3;
}

.row td {
	border-left: 2px solid #f4f3f3;
	border-right: 2px solid #f4f3f3;
}

.lastRow {
	text-align: center;
	border-top: 2px solid #f4f3f3;
}

.lastRow td {
	border-left: none !important;
	border-right: none !important;
	padding-top: 12px;
}

.clearCell {
	border-right: none !important;
	border-left: none !important;
}

.defaultButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#660000;
    font-family:"Candara";
    font-size:15px;
    padding:9px 17px;
    text-decoration:none;
}

.defaultButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

.defaultButton:active {
    position:relative;
    top:1px;
}

/* Range slider */
input[type=range] {
  -webkit-appearance: none;
  width: 95%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #660000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #660000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #660000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #660000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #660000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #660000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #660000;
}

.modificationText {
    padding-left: 70%;
    width: 75px;
    padding: 0px 0px;
}

.modificationApply {
    padding: 0px 20px;
    /*float: right;*/
    width: 75px;
    text-align: center;
}

.modificationRange {
    padding-top: 4px;
}

.modificationTable {
    width: 100%;
}

.modificationTable tr td:first-child {
    width: 70%;
}

.modificationTable tr td {
    width: 10%;
}

